/* common shared styles */

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 15px 35px;

}

.section-title {
    font-size: 35px;
    font-family:"Open Sans", sans-serif;
    text-align: center;
    font-weight: 700;
    
}
.section-description{
    font-size: 18px;
    color: darkgray;
    text-align: center;
}

.info-title{
    font-size: 20px;
    font-weight: bold;
}
.info-description{
    font-size: 16px;
    font-weight: normal;
    color: darkgray;
} 




/* shared style close  */

/* nav releted css */
header {
    background-color: blanchedalmond;
    background-image: url(../images/header_bg.png), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

.nav-title {
    font-size: 40px;
    color: #181818;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

.banner-img {
    width: 400px;
}

.banner-greeting {
    font-size: 45px;
    margin-bottom: 0;
}

.banner-hed {
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* main section style */
main section{
    margin-top: 130px;
}

/* about section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about {
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    text-align: center;
    margin: 130px 0;  
   
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
/* what i do sectio start */
.What-i-do{ 
   padding: 130px;
}

/* skill info styles start */

.skills-info-container{
    display: flex;
    gap: 20px;
}
.skills-info{
    padding: 30px;  
    background-color: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
}

/* skill info styles close */

/* summary sections style */

.summary-container{
    display: flex;
    gap: 60px;
}
.summary-title{
    font-size: 30px;
    color: #474747;  
}
.summary-item-degree{
    font-size: 25px;
    color: #474747;
}
.summary-item-session{
    font-size: 20px;
    color: #757575;
}
.summary-item-description{
    font-size: 16px;
    color: #757575;
}
.download-cv{
    text-align: center;
    margin-top: 20px;
}

/* footer styles start here */

.footer-container{
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 230px;
    margin-top: 100px;
}
.footer-title{
    font-size: 35px;
}
.footer-descriptions{
    font-size: 16px;
}
.contact input[type="text"], .contact input[type="email"],
 textarea{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background-color: #FFF;
    border: 0;
    width: 100%;
    font-size: 20px;
}
